
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', serif;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  animation: colorChange 5s infinite alternate;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

